# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/video-transcript-front/node_modules
/video-transcript-front/.pnp
/video-transcript-front.pnp.js

# testing
/video-transcript-front/coverage

# production
/video-transcript-front/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
/video-transcript-front/.idea
/videoTranscribeServer/.idea
/videoTranscribeServer/__pycachce__
/videoTranscribeServer/.venv

npm-debug.log*
yarn-debug.log*
yarn-error.log*
